<div class="text-center" style="margin: 10px;">
    <div class="form-group">
        <label for="title">Title</label>
        <input id="title" type="text" class="form-control" [(ngModel)]="proposalTitle">
    </div>
    <div class="form-group">
        <label for="url">Menu url</label>
        <input id="url" type="url" class="form-control" [(ngModel)]="proposalMenuUrl">
    </div>
    <div class="form-group">
        <div *ngFor="let menuItem of menuItems; let i=index" style="margin-top: 1rem;">
            <div>
                <h6 class="aler-info">Menu item {{i+1}}: </h6>
            </div>
            <div>
                <label for="desc">Description:</label>
                <input type="text" class="form-control" [(ngModel)]="menuItem.description" #desc>
                <label for="prc">Price:</label>
                <input type="number" class="form-control" step="0.01" [(ngModel)]="menuItem.price" #prc>
                <button class="btn btn-lg btn-danger" (click)="removeItem(i)">DELETE MENU ITEM</button>
            </div>
        </div>
    </div>
    <div class="form-group">
        <span>
            <button class="btn btn-lg btn-success" (click)="addItem()">ADD MENU ITEM</button>
            <button *ngIf="!proposalId" class="btn btn-lg btn-primary" (click)="addProposal()">CREATE</button>
            <button *ngIf="proposalId" class="btn btn-lg btn-warning" (click)="editProposal()">UPDATE</button>
        </span>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">CLOSE</button>
</div>