<div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
    <div class="justify-content-center">
        <div class="form-group">
            <input [(ngModel)]="userNick" #nick type="text" class="form-control" placeholder="nick" id="nickInput"
                required autofocus />
        </div>
        <div class="form-group">
            <input #pass type="password" class="form-control" placeholder="password" id="passwordInput" required />
        </div>
        <button (click)="logIn(nick.value, pass.value)" class="btn btn-lg btn-primary">Log in</button>
    </div>
    <div class="errorMsgs">
        <div *ngIf="isError" class="panel-danger">
            <h5 class="alert-danger">Invalid credentials</h5>
        </div>
        <div *ngIf="isCompleted" class="panel-danger">
            <h5 class="alert-success">Success!</h5>
        </div>
    </div>
</div>