<div class="justify-content-center">
    <div class="card bg-dark text-white">
        <h2 class="card-title text-center">
            <span class="badge">
                <div class="d-flex flex-wrap justify-content-center mt-2">
                    <a><span class="hours"></span></a>{{hours}}:
                    <a><span class="min"></span></a>{{minutes}}:
                    <a><span class="sec"></span></a>{{seconds}}
                </div>
            </span>
            <div style="margin-top: 2rem;">
                <img src="assets/lunchrom_icon_large.png" width="280" height="200" style="margin-bottom: 1rem;" />
                <h2 style="color: #fff;">{{title}}</h2>
            </div>
        </h2>
    </div>
    <div class="page-header text-center" style="margin-top: 1rem;">
        <button *ngIf="!router.url.includes('404') && !router.url.includes('signUp') && !router.url.includes('signIn')"
            class="btn-info btn-lg" (click)="logout()">LOGOUT</button>
    </div>
    <br />
    <router-outlet></router-outlet>
    <br />
    <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
        <div *ngIf="router.url.includes('signIn')">
            <div class="justify-content-center">
                <a routerLink="/signUp" routerLinkActive="active" class="btn-info btn-lg">SIGN UP</a>
                <div>
                    <img src="assets/btn_google.png" class="btn" (click)="signWithGoogle()" />
                </div>
            </div>
        </div>
        <div *ngIf="router.url.includes('signUp')">
            <a routerLink="/signIn" routerLinkActive="active" class="btn-info btn-lg">SIGN IN</a>
        </div>
    </div>
</div>