<div class="justify-content-center">
    <div class="card bg-dark text-white">
        <h3 class="card-title text-center">
            <span class="badge">
                <div class="d-flex flex-wrap justify-content-center mt-2">
                    <a><span class="hours"></span></a> :
                    <a><span class="min"></span></a> :
                    <a><span class="sec"></span></a>
                </div>
            </span>
        </h3>
    </div>
    <div class="page-header text-center">
        <h1 class="jumbotron">{{title}}</h1>
    </div>
    <br />
    <router-outlet></router-outlet>
    <br />
    <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
        <div *ngIf="router.url.includes('signIn')">
            <a routerLink="/signUp" routerLinkActive="active" class="btn-info btn-lg">Sign Up</a>
        </div>
        <div *ngIf="router.url.includes('signUp')">
            <a routerLink="/signIn" routerLinkActive="active" class="btn-info btn-lg">Sign In</a>
        </div>
    </div>
</div>