<div class="text-center" style="margin: 10px;">
    <div class="form-group">
        <label for="rName">Name of the room</label>
        <input [readonly]="update" #nameInput class="form-control" type="text" placeholder="name" id="rName" value="{{room ? room.roomName : ''}}"/>
    </div>
    <div class="form-group">
        <label for="iDead">Deadline for signing to room and posting lunch propositions</label>
        <input [(ngModel)]="initDead" #signDeadlineInput="ngModel" class="form-control" type="time"
            placeholder="initial deadline" id="iDead" />
    </div>
    <div class="form-group">
        <label for="vDead">Deadline for voting for propositions</label>
        <input [(ngModel)]="voteDead" #voteDeadlineInput="ngModel" class="form-control" type="time"
            placeholder="vote deadline" id="vDead" />
    </div>
    <div class="form-group" *ngIf="!update">
        <label for="defs">Use default lunch proposals</label>
        <input [(ngModel)]="useDefaults" #defaults="ngModel" class="form-control" type="checkbox" id="defs" />
    </div>
    <div id="msgs">
        <h6 class="alert-info">*Consecutive deadlines should be after one another</h6>
        <div *ngIf="!isEverythingOk">
            <h6 class="alert-warning">Please fill all fields with correct values!</h6>
        </div>
    </div>
    <button *ngIf="!update" (click)="createRoom(nameInput.value)" class="btn btn-lg btn-primary">CREATE</button>
    <button *ngIf="update" (click)="updateRoom()" class="btn btn-lg btn-primary">UPDATE</button>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">CLOSE</button>
</div>