<div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
    <div class="justify-content-center">
        <div class="form-group">
            <input [(ngModel)]="nick" #nickInput="ngModel" class="form-control" type="text" placeholder="nick"
                (input)="checkNick(nick)" />
        </div>
        <div class="form-group">
            <input [(ngModel)]="pass" #passwordInput="ngModel" class="form-control" type="password"
                placeholder="password" (input)="passChange()" />
        </div>
        <div class="form-group">
            <input [(ngModel)]="confirmPass" #confirm_passwordInput="ngModel"
                (keyup.enter)="signUp(nickInput.value, passwordInput.value)" class="form-control" type="password"
                placeholder="confirm password" (input)="passChange()" />
        </div>
        <div *ngIf="isEverythingOk else error">
            <button (click)="signUp(nickInput.value, passwordInput.value)" class="btn btn-lg btn-primary">Create
                account</button>
        </div>
    </div>
    <div class="errorMsgs" class="panel-warning" style="margin-top: 2rem;">
        <h6 class="alert-info">Password should be at least 8 characters long</h6>
        <ng-template #error>
            <h6 class="alert-warning">Please fill all fields with correct values!!!</h6> 
        </ng-template>
        <div *ngIf="!isNickAvailable">
            <h6 class="alert-warning">Given nick is already registered</h6>
        </div>
        <div *ngIf="tryAgain">
            <h6 class="alert-warning">Please try again</h6>
        </div>
    </div>
    <div *ngIf="isCompleted" class="panel-sucess">
        <h4 class="alert-success">Successfuly signed up!</h4>
    </div>
</div>