<div>
    <input [(ngModel)]="nick" #nickInput="ngModel" type="text" placeholder="nick" (input)="checkNick(nick)"/>
    <input [(ngModel)]="pass" #passwordInput="ngModel" type="password" placeholder="password" (input)="passChange()" />
    <input [(ngModel)]="confirmPass" #confirm_passwordInput="ngModel" type="password" placeholder="confirm password"
        (input)="passChange()" />
    <div *ngIf="isEverythingOk else error">
        <button (click)="signUp(nickInput.value, passwordInput.value)">Sign Up</button>
    </div>
    <ng-template #error>
        <p>Please fill all fields with correct values!</p>
    </ng-template>
    <div *ngIf="isCompleted else tryAgain">
        <p>Successfuly signed up!</p>
    </div>
    <div *ngIf="!isNickAvailable">
        <p>Given nick is already registered</p>
    </div>
    <ng-template #tryAgain>
        <p>Please try again</p>
    </ng-template>
</div>