<div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
    <h1 *ngIf="phase===0">SIGN PHASE</h1>
    <h1 *ngIf="phase===1">POST PHASE</h1>
    <h1 *ngIf="phase===2">VOTE PHASE</h1>
    <h2>Room: {{roomDetail?.roomName}}</h2>
    <button class="btn btn-lg btn-warning" (click)="leave()">LEAVE</button>
    <button *ngIf="phase===2 && currentUser?.id === roomDetail?.ownerId" class="btn btn-lg btn-success"
        (click)="end()">RANDOMIZE</button>
</div>
<div class="grid">
    <article *ngFor="let user of roomUsers">
        <h6 class="alert alert-info" style="width: fit-content;">User <b>{{user?.nick}}</b> has <b>{{user?.points}}</b> points
            remaining</h6>
    </article>
</div>
<p>
    <ngb-progressbar type="primary" [value]="signProgress" [striped]="true" [animated]="true"><b>SIGN</b>
    </ngb-progressbar>
</p>
<p>
    <ngb-progressbar type="success" [value]="postProgress" [striped]="true" [animated]="true"><b>POST</b>
    </ngb-progressbar>
</p>
<p>
    <ngb-progressbar type="danger" [value]="voteProgress" [striped]="true" [animated]="true"><b>VOTE</b>
    </ngb-progressbar>
</p>
<div class="grid">
    <article *ngFor="let proposal of proposals" style="border: 5px solid sienna;">
        <header class="card__header">
            <h1 class="room__name"><b>{{proposal?.title}}</b></h1>
            <h1 class="room__name"><a href="{{proposal?.menuUrl}}" target="_blank">Menu</a></h1>
        </header>
        <div *ngFor="let item of proposal?.menuItems" class="card__content" style="border: 3px solid burlywood;">
            <h6 class="alert alert-dark">{{item?.description}}</h6>
            <h6 class="alert alert-dark">{{item?.price}} PLN</h6>
        </div>
        <div class="card__content">
            <h6 class="alert alert-info">Total rating: <b>{{proposal?.ratingSum}}</b></h6>
            <h6 class="alert alert-info">Total votes: <b>{{proposal?.votesCount}}</b></h6>
        </div>
        <div *ngIf="phase===2" class="card__actions my-4">
            <form class="range-field">
                <input type="range" class="custom-range" min="1" max="6" #voteRate>
            </form>
            <button class="btn btn-lg btn-primary" (click)="vote(proposal?.proposalId, voteRate.value)">VOTE</button>
        </div>
    </article>
</div>
<app-create-proposal *ngIf="phase===1" [roomDetail]="roomDetail">
</app-create-proposal>
<app-summary *ngIf="summary" [userNick]="winner" [proposal]="proposalWin"></app-summary>
