<h1>Hello {{currentUser?.nick}}</h1>
<h2>You have {{rooms?.length}} room(s) available:</h2>
<div class="grid">
    <article *ngFor="let room of rooms" style="border: 5px solid skyblue;">
        <header class="card__header">
            <h1 class="room__name">{{room.roomName}}</h1>
        </header>
        <div class="card__content">
            <h5>Join until: <b>{{toDate(room.signDeadline)}}</b></h5>
            <h5>Post propositions until: <b>{{toDate(room.postDeadline)}}</b></h5>
            <h5>Vote until: <b>{{toDate(room.voteDeadline)}}</b></h5>
        </div>
        <div class="card__actions">
            <button class="btn-success" (click)="joinRoomById(room.roomId)">JOIN</button>
            <button *ngIf="currentUser?.id === room.ownerId" class="btn-danger" (click)="deleteRoom(room.roomId)">DELETE</button>
            <button *ngIf="currentUser?.id === room.ownerId" class="btn-warning" (click)="updateRoom(room)">DEADLINES</button>
        </div>
    </article>
</div>
<button class="btn-primary"  (click)="openModal()">Create room</button>
<div style="border: 2px solid skyblue; width: fit-content;">
    <label for="searchRoomInput" class="alert-info">Search for new room</label>
    <div>
        <input id="searchRoomInput" #searchRoomName type="text" placeholder="room name" />
        <button class="btn-primary" (click)="searchRoomByName(searchRoomName.value)">SEARCH</button>
    </div>
</div>